<header>
  <div>
    <div>
      <img
        src="/assets/easybank-landing-page-master/images/logo.svg"
        alt="logo easybank"
      />
    </div>

    <nav>
      <p>Home</p>
      <p>About</p>
      <p>Contact</p>
      <p>Blog</p>
      <p>Careers</p>
    </nav>
    <button>Request Invite</button>
  </div>
</header>
<div class="hero-image">
  <div>
    <div>
      <img
        src="/assets/easybank-landing-page-master/images/bg-intro-desktop.svg"
        alt="bg-intro-desktop"
      />
    </div>
    <div>
      <img
        src="/assets/easybank-landing-page-master/images/image-mockups.png"
        alt="mockups"
      />
    </div>
  </div>
</div>
<main>
  <section>
    <div class="margin">
      <div class="hero-text">
        <h1>Next generation digital banking</h1>
        <p>
          Take your financial life online. Your Easybank account will be a
          one-stop-shop for spending, saving, budgeting, investing, and much
          more.
        </p>
        <button>Request Invite</button>
      </div>
    </div>
  </section>
  <section><div class="margin"></div></section>
</main>
